@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/size_728x90.scss';



.t3{
	-webkit-filter:none;
	filter: none;
}


.bar-top{
	position: absolute;
	width: 300px;
	height: 125px;
	background-color: #00c849;
	@include pos(0, 0);
}

.bar-bottom{
	position: absolute;
	width: 370px;
	height: 90px;
	background-color: #d3ef35;
	@include pos(370, 0);
}