@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/size_970x250.scss';



#bars{
	@include pos(0, 115);
	.bar_9{
		height: 50px !important;
	}
}

#bars2{
	@include pos(43, -235);
	.bar_0{
		width: 342px !important;
		left: -275px;
	}
}



