@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/size_300x250.scss';






.bar-top{
	position: absolute;
	width: 300px;
	height: 125px;
	background-color: #00c849;
	@include pos(0, 0);
}

.bar-bottom{
	position: absolute;
	width: 300px;
	height: 131px;
	background-color: #d3ef35;
	@include pos(0, 245);
}


.t3{
	-webkit-filter:none;
	filter: none;
}